@CHARSET "ISO-8859-1";

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
	border: none !important;
}

.ui-layout-north .ui-layout-unit-content {
	z-index: 20 !important;
	overflow: visible !important;
	border: none !important;
}

.ui-menubar {
	border: none !important;
}

.ui-layout-center {
	border: none !important;
}

.ui-layout-center.ui-layout-unit-content {
	border: none !important;
}

.semBorda tr,.semBorda td {
	border: none !important;
}

.center {
	position: absolute;
	right: 40%;
	top: 30%
}

.ui-button {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	background-color: #538fbe;
	padding: 20px 70px;
	font-size: 24px;
	border: 1px solid #2d6898;
	background-image: linear-gradient(bottom, rgb(73, 132, 180) 0%,
		rgb(97, 155, 203) 100%);
	background-image: -o-linear-gradient(bottom, rgb(73, 132, 180) 0%,
		rgb(97, 155, 203) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(73, 132, 180) 0%,
		rgb(97, 155, 203) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(73, 132, 180) 0%,
		rgb(97, 155, 203) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(73, 132, 180) 0%,
		rgb(97, 155, 203) 100%);
}

.ui-button-text-only .ui-button-text {
	padding: .1em .5em;
}

.button:hover {
background-image: linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
background-image: -o-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
background-image: -moz-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
background-image: -ms-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
}